@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  /* background: #12c2e9;  /* fallback for old browsers
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #3494e6, 0px 0px 25px #3494e6, 0px 0px 50px #3494e6,
    0px 0px 100px #3494e6;
  width: 400px;
  max-width: 470px;
  height: 500px;
  padding: 20px;
  text-align: center;
  margin: 70px auto 0;
}
.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
.search input {
  width: 280px;
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  height: 50px;
  padding: 10px 25px;
  margin-right: 16px;
  border-radius: 30px;
}
.search button {
  border: none;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.search img {
  width: 20px;
  height: 20px;
  align-items: center;
}
